<div class=" mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 ">
  <% @posts.each do |post| %>

    <%= link_to post_path(post, locale: I18n.locale) do %>
      <%= render("posts/all_posts", post: post) %>
    <% end %>

  <% end %>
</div>
<% if @pagy.next.present? %>
  <%= turbo_frame_tag "posts-page-#{@pagy.next}",
  loading: :lazy,
  src: pagy_url_for(@pagy, @pagy.next) %>
<% end %>
